.body{
  font-family: "Times New Roman", Times, serif;
  background-color: #FBFBFB;
}
.widthAuto{
  width: 100%;
}
.outerdiv {
  background-color: #C4D9FF;
  margin-top: 20px;
}
.innerdiv {
  background-color: #E8F9FF;
}
.outerBtn {
  background: transparent;
  cursor: pointer;
}
.outerBtn img {
  text-align: center;
}